ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 70px; /* Tamaño de fuente más grande */
    font-family: "Arial", sans-serif; /* Tipo de letra (cámbialo según tus preferencias) */
    margin-bottom: 20px; /* Espacio inferior para separar del contenido siguiente */
}

.seccion {
    display: none;
    text-align: center; /* Centrar el contenido de la sección */
}

/* Mostrar solo la sección actual */
.seccion-actual {
    display: block;
}
